---

---

/* ==========================================================================
   Catppuccin Mocha Palette Variables
   ========================================================================== */

$ctp-rosewater: #f5e0dc;
$ctp-flamingo:  #f2cdcd;
$ctp-pink:      #f5c2e7;
$ctp-mauve:     #cba6f7;
$ctp-red:       #f38ba8;
$ctp-maroon:    #eba0ac;
$ctp-peach:     #fab387;
$ctp-yellow:    #f9e2af;
$ctp-green:     #a6e3a1;
$lightseagreen: #20b2aa;
$ctp-teal:      #94e2d5;
$ctp-sky:       #89dceb;
$ctp-sapphire:  #74c7ec;
$ctp-blue:      #89b4fa;
$ctp-lavender:  #b4befe;
$ctp-text:      #cdd6f4;
$ctp-subtext1:  #bac2de;
$ctp-subtext0:  #a6adc8;
$ctp-overlay2:  #9399b2;
$ctp-overlay1:  #7f849c;
$ctp-overlay0:  #6c7086;
$ctp-surface2:  #585b70;
$ctp-surface1:  #45475a;
$ctp-surface0:  #313244;
$ctp-base:      #1e1e2e;
$ctp-mantle:    #181825;
$ctp-crust:     #11111b;

$myteal: #008080;

/* ==========================================================================
   Minimal Mistakes Theme Overrides
   ========================================================================== */

// Base Background and Text

$background-color:       $ctp-base;
$text-color:             $ctp-text;
$muted-text-color:       $ctp-subtext0;

// Layout Accents (Headers, Footers, and Borders)

// $primary-color:          $ctp-surface1;
$border-color:           $ctp-surface2;
$code-background-color:  $ctp-surface0;

// Links and Interactivity (Using Mauve/Lavender theme presets)

// $link-color:             $ctp-mauve;
// $link-color-hover:       $ctp-lavender;
$masthead-link-color:    $ctp-text;
$masthead-link-color-hover: $ctp-teal;

// Buttons and Badges

$success-color:          $ctp-green;
$warning-color:          $ctp-yellow;
$danger-color:           $ctp-red;
$info-color:             $ctp-sky;


@import "minimal-mistakes/skins/{{site.minimal_mistakes_skin | default: 'default'}}";  
@import "minimal-mistakes";  
  

.author__avatar img {  
  border-radius: 20%;  
  border: 2px solid lightseagreen;  
}
  
.btn--primary {  
  background-color: lightseagreen;  
  color: $ctp-base; 
}

.author__urls-wrapper button {  
  background-color: lightseagreen;  
  color: $ctp-base;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 10px;
}

.top-left-image {
  float: left;
  width: 200px;
  margin: 0 20px 10px 0;
}

p {
  margin-bottom: 20px;
}

hr {
  border: 0;
  height: 1px;
  background-color: $ctp-overlay2;
  margin: 20px 0;
}

.section-heading {
  font-size: 28px;
  // text-decoration: underline;
  color: '';
  display: block;
}

.section-heading-2 {
  font-size: 20px;
  text-decoration: underline;
  color: '';
  display: block;
}

.large-text {
  font-size: 18px;
  color: '';
}
